.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
    background-color: rgb(255, 255, 248);
  }



  .heading {
    color: rgb(16, 82, 60);
    text-align: center;
  }



  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: rgb(1, 31, 15);
    text-decoration: none;
  }

  .paragraph {

    color:rgb(62, 160, 221);
    padding: 20%;
  }

  .subheading {
    color: rgb(39, 211, 154);
    text-align: center;
  }

  .siteTitle {
    font-size: 3rem;
    color: rgb(0, 157, 105);
    text-align: center;
    font-weight: 700;
  }
  